<footer class="pt-4 pb-[70px] text-sm">
  <div>
    Hosts:{" "}
    <a href="https://twitter.com/nayafia">
      Nadia Asparouhova
    </a>{" "}
    &{" "}
    <a href="https://twitter.com/left_pad">
      Henry Zhu
    </a>
  </div>
  <div>
    Cover Art: Jessica Han | Music:{" "}
    <a href="https://twitter.com/ken_wheeler">
      Ken Wheeler
    </a>
  </div>
  <div>
    Supported via{" "}
    <a 
      href="https://github.com/sponsors/hzoo"
      target="_blank"
      rel="noopener noreferrer"
    >
      GitHub Sponsors
    </a>
  </div>
</footer>