<footer class="pt-6 pb-[80px] text-sm text-his-text-secondary border-t border-his-hr/50">
  <div class="space-y-1.5">
    <p>
      Hosts:{" "}
      <a href="https://twitter.com/nayafia" class="text-his-text hover:text-his-green transition-colors">
        Nadia Asparouhova
      </a>{" "}
      &{" "}
      <a href="https://twitter.com/left_pad" class="text-his-text hover:text-his-green transition-colors">
        Henry Zhu
      </a>
    </p>
    <p>
      Cover Art: Jessica Han | Music:{" "}
      <a href="https://twitter.com/ken_wheeler" class="text-his-text hover:text-his-green transition-colors">
        Ken Wheeler
      </a>
    </p>
    <p>
      Supported via{" "}
      <a
        href="https://github.com/sponsors/hzoo"
        target="_blank"
        rel="noopener noreferrer"
        class="text-his-green hover:underline"
      >
        GitHub Sponsors
      </a>
    </p>
  </div>
</footer>
