body {
  --green: #b0e6aa;
  --white: #ffffff;
  background-color: var(--bg);
}

body {
  -webkit-font-smoothing: antialiased;
  --bg: rgb(21, 32, 43);
  --textNormal: var(--white);
  --textLink: var(--green);
  --hr: hsla(0, 0%, 100%, 0.2);
}

/* autolink css fix */
.anchor.before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  padding-right: 4px;
}
.anchor.after {
  display: inline-block;
  padding-left: 4px;
}
h1 .anchor svg,
h2 .anchor svg,
h3 .anchor svg,
h4 .anchor svg,
h5 .anchor svg,
h6 .anchor svg {
  visibility: hidden;
}
h1:hover .anchor svg,
h2:hover .anchor svg,
h3:hover .anchor svg,
h4:hover .anchor svg,
h5:hover .anchor svg,
h6:hover .anchor svg,
h1 .anchor:focus svg,
h2 .anchor:focus svg,
h3 .anchor:focus svg,
h4 .anchor:focus svg,
h5 .anchor:focus svg,
h6 .anchor:focus svg {
  visibility: visible;
}

/* fixed position audio player */
footer {
  padding-bottom: 70px;
}

/* audio player override */
.rhap_container {
  border-top: 1px solid #3f3f3f;
  background-color: var(--bg);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  color: var(--white);
}
.rhap_header {
  text-align: center;
}
.rhap_main-controls-button,
.rhap_time {
  color: var(--white);
}
.rhap_current-time {
  color: var(--green);
}
.rhap_progress-indicator,
.rhap_progress-filled {
  background: var(--green);
}
.rhap_controls-section {
  flex: 0;
}

@media screen and (max-width: 1100px) {
  .toc {
    display: none;
  }
}

.container {
  display: flex;
  flex: 1 1 auto;
  max-width: 42rem;
  flex-direction: column;
}
@media screen and (min-width: 1100px) {
  .container {
    max-width: 63rem;
    flex-direction: row;
  }
  .hero-wrapper {
    flex: 0 0 500px;
    margin-right: 15px;
  }
  .hero {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar {
    flex: 0 0 250px;
    margin-left: 15px;
  }
  .toc {
    position: fixed;
    height: calc(100vh - 100px);
    overflow-y: auto;
    top: 50%;
    transform: translateY(-50%);
  }
}

.timestamp {
  position: absolute;
  transform: translateX(-100%);
  padding-right: 1.42188rem;
  box-shadow: none;
  /* opacity: 0; */
}
.wrap:hover .timestamp {
  /* opacity: 1; */
  color: var(--green);
}
.wrap {
  display: flex;
  position: relative;
}
.wrap.right {
  justify-content: space-between;
}
.wrap a {
  box-shadow: inherit;
  color: inherit;
  text-decoration: inherit;
}
.text {
  padding: 10px;
  border-radius: 1.25rem;
  background-color: rgb(61, 84, 102);
  max-width: 87.5%;
}
.right .text {
  background-color: rgb(29, 161, 242);
}
.right .laugh {
  left: initial;
  right: -9px;
}
.laugh {
  font-size: 1.3em;
  position: absolute;
  left: -9px;
  bottom: -20px;
  background: white;
  border-radius: 10px;
  color: black;
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.15);
}
