body {
  --green: #B0E6AA;
  --white: #FFFFFF;
  background-color: var(--bg);
}

body {
  -webkit-font-smoothing: antialiased;
  --bg: rgb(21, 32, 43);
  --textNormal: var(--white);
  --textLink: var(--green);
  --hr: hsla(0, 0%, 100%, 0.2);
}

/* fixed position audio player */
footer {
	padding-bottom: 70px;
}

/* audio player override */
.rhap_container {
	border-top: 1px solid #3F3F3F;
	background-color: var(--bg);
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
	color: var(--white);
}
.rhap_header {
	text-align: center;
}
.rhap_main-controls-button, .rhap_time{
	color: var(--white);
}
.rhap_current-time {
	color: var(--green);
}
.rhap_progress-indicator, .rhap_progress-filled {
	background: var(--green);
}

@media screen and (max-width: 1100px) {
	.toc {
		display: none;
	}
}

.container {
	display: flex;
	flex: 1 1 auto;
	max-width: 42rem;
	flex-direction: column;
}
@media screen and (min-width: 1100px) {
	.container {
		max-width: 63rem;
		flex-direction: row;
	}
	.hero-wrapper {
		flex: 0 0 500px;
		margin-right: 15px;
	}
		.hero {
			position: fixed;
			top: 50%;
			transform: translateY(-50%);
		}
	.sidebar {
		flex: 0 0 250px;
		margin-left: 15px;
	}
		.toc {
			position: fixed;
			height: calc(100vh - 100px);
			overflow-y: auto;
			top: 50%;
			transform: translateY(-50%);
		}
}
