---
import BaseHead from "@/components/BaseHead.astro";
import "../styles/base.css";

const { frontmatter, slug } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={frontmatter.title}
            description={frontmatter.description}
            slug={slug}
            embedUrl={frontmatter.embedUrl}
        />
    </head>
    <body>
        <slot />
    </body>
</html>
