---
import BaseHead from '@/components/BaseHead.astro';
import ThemeToggle from '@/components/ThemeToggle.astro';
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <ThemeToggle />
    <slot />
  </body>
</html>
